{% extends 'client_header.html' %}
{% load static %}
{% block content %}

<!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/7.jpg' %})">
            <div class="auto-container">
                <div class="clearfix">
                    <div class="pull-left">
                        <h1>Contact Us</h1>
                    </div>
                    <div class="pull-right">
                        <ul class="page-breadcrumb">
                            <li><a href="/client/show_home/">Home</a></li>
                            <li>Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        <!--Contact Section-->
        <section class="section-padding">
            <div class="container">
                    <!--Sec Title-->
                    <div class="sec-title centered">
                        <div class="separator">
                            <span class="icon flaticon-pawprint-1"></span>
                        </div>
<!--                        <div class="title">Because We Really Care About Your Pets</div>-->
                        <h2>Contact Us</h2>
                    </div>
            </div>
        </section>

       <section class="infosection">
            <div class="auto-container">
                <div class="clearfix">
                    <!--Info Column-->
                    <div class="row">
                        <div class="col-lg-3 offset-md-1 col-md-3 col-sm-12">
                            <i class="fa fa-map-marker"></i>
                            <h5>Address:</h5>
                            52A, Tailstoi Town 5238 <br> La city, IA 85796
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <i class="fa fa-phone"></i>
                            <h5>Phone:</h5><a href="tel:+12345678900">+(1) 234 567 8900 </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <i class="fa fa-envelope"></i>
                            <h5>email:</h5><a href="mailto:support@pawrex.com"> support@pawrex.com </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Map Section-->
        <section class="map">
            <iframe width="100%" height="500"
                src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(Pets%20Event)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
                    href="https://www.maps.ie/create-google-map/">Create Google
                    Map</a></iframe>
        </section>
        <!--End Map Section-->

        <section class="infosection">
            <div class="auto-container">
                <div class="clearfix">
                    <!--Info Column-->
                    <div class="row">
                        <div class="col-lg-3 offset-md-1 col-md-3 col-sm-12">
                            <i class="fa fa-map-marker"></i>
                            <h5>Address:</h5>
                            52A, Tailstoi Town 5238 <br> La city, IA 85796
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <i class="fa fa-phone"></i>
                            <h5>Phone:</h5><a href="tel:+12345678900">+(1) 234 567 8900 </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <i class="fa fa-envelope"></i>
                            <h5>email:</h5><a href="mailto:support@pawrex.com"> support@pawrex.com </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Contact Section-->
<!--        <section class="contact-section contect2">-->
<!--            <div class="auto-container">-->
<!--                &lt;!&ndash;Sec Title&ndash;&gt;-->
<!--                <div class="sec-title centered">-->
<!--                    <div class="separator">-->
<!--                        <span class="icon flaticon-pawprint-1"></span>-->
<!--                    </div>-->
<!--                    <div class="title">Because We Really Care About Your Pets</div>-->
<!--                    <h2>Contact Us</h2>-->
<!--                </div>-->
<!--                <div class="row clearfix">-->
<!--                    &lt;!&ndash;Form Column&ndash;&gt;-->
<!--                    <div class="form-column col-lg-10 col-md-12">-->

<!--&lt;!&ndash;                        &lt;!&ndash;Contact Form&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="contact-form">&ndash;&gt;-->
<!--&lt;!&ndash;                            <form method="post" action="http://www.shmai.com/preview/pawrex-html/sendemail.php" id="contact-form">&ndash;&gt;-->
<!--&lt;!&ndash;                                &lt;!&ndash;Form Group&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input type="email" name="email" value="" placeholder="Email Address*" required>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                &lt;!&ndash;Form Group&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input type="text" name="subject" value="" placeholder="Subject*" required>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                &lt;!&ndash;Form Group&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <textarea name="message" placeholder="Your Message*"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                &lt;!&ndash;Form Group&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <button type="submit" class="theme-btn btn-style-four">Submit now</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </form>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash;Contact Form&ndash;&gt;&ndash;&gt;-->

<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <!--End Contact Section-->

{% endblock %}